<launch>
    <master auto="start" />
    <param name="magnetic_heading" value="320" />
    <param name="magnetic_declination" value="-3.5" />
    
    <!-- Start the State publisher responsible for publishing tf's for the mower -->
    <include file="$(find automow_urdf)/launch/state_publisher.launch" />
    
    <!-- Start the motor controller and teleoperation nodes -->
    <include file="$(find ax2550)/launch/motor_control.launch" />
    
    <!-- Start the IMU for orientation odometry -->
    <include file="$(find atomic_imu)/launch/atomic_imu.launch" />
    
    <!-- Start the GPS for position odometry -->
    <include file="$(find dg14)/launch/dg14_gps.launch" />
    
    <include file="$(find automow_launch)/launch/ekf.launch" />
    
    
</launch>
