<launch>
    <!-- Start the Map Server -->
    <include file="$(automow_maps)/launch/empty_map_server.launch" />
    
    <!-- Start the ACML Node -->
    <include file="$(find automow_2dnav)/launch/amcl_diff.xml" />
    
    <!-- Start the move_base Node -->
    <include file="$(find automow_2dnav)/launch/move_base.xml" />
</launch>