<launch>
        <param name="robot_description" command="cat $(find automow-urdf)/automow.xml" />
        <node pkg="robot_state_publisher" type="state_publisher" name="automow" />
        <node name="ax2550_driver" pkg="ax2550" type="ax2550_driver.py" output="screen" />
        <node name="ax2550_teleop" pkg="ax2550" type="ax2550_teleop.py" />
        <node name="joy_node" pkg="joy" type="joy_node" />
        <node name="ax2550_odom" pkg="ax2550" type="ax2550_odom.py" output="screen" />
        <node name="imu_data" pkg="arduimu" type="imu_data" output="screen" />
        <node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf" output="screen">
                <param name="freq" value="30.0"/>
                <param name="sensor_timeout" value="1.0"/>
                <param name="publish_tf" value="true"/>
                <param name="odom_used" value="true"/>
                <param name="imu_used" value="true"/>
                <param name="vo_used" value="false"/>
        </node>
</launch>
