<launch>
	<!-- Launch the field_publisher -->
	<include file="$(find automow_maps)/launch/field_publisher.launch" />
	<!-- Launch the path planning node -->
	<node pkg="automow_planning" type="path_planner.py" name="path_planner"
		  output="screen">
		<!-- Spacing between cut lines in meters -->
		<param name="cut_spacing" type="double" value="0.5" />
		<remap from="odom" to="ekf/odom"/>
	</node>
</launch>