<launch>

<group ns="stereo">
    <!--
  <node pkg="camera1394" type="camera1394_node" name="camera1394_node"
      output="screen">
      <param name="guid" value="" />
      <param name="video_mode" value="format7_mode3" />
      <param name="multicam" value="stereo_interlaced" />
      <param name="frame_id" value="bumblebee_optical" />
      <param name="format7_color_coding" value="raw16"/>
      <param name="left_camera_info_url"
          value="file://$(find automow_bringup)/camera_info/left.yaml" />
      <param name="right_camera_info_url"
          value="file://$(find automow_bringup)/camera_info/right.yaml" />
      <remap from="camera" to="/"/>
  </node>
  -->

  <node pkg="nodelet" type="nodelet" name="camera_nodelet_manager" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="camera_1394"
      args="load camera1394/driver camera_nodelet_manager">
    <param name="guid" value="" />
    <param name="video_mode" value="format7_mode3" />
    <param name="multicam" value="stereo_interlaced" />
    <param name="frame_id" value="bumblebee_optical" />
    <param name="format7_color_coding" value="raw16"/>
    <param name="left_camera_info_url"
      value="file://$(find automow_bringup)/camera_info/left.yaml" />
    <param name="right_camera_info_url"
      value="file://$(find automow_bringup)/camera_info/right.yaml" />
    <remap from="camera" to="/"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="image_crop_left"
      args="load image_proc/crop_decimate camera_nodelet_manager">
      <remap from="camera" to="left"/>
      <remap from="camera_out" to="left_out"/>
      <param name="decimation_x" type="int" value="2" />
      <param name="decimation_y" type="int" value="2" />
  </node>

  <node pkg="nodelet" type="nodelet" name="image_crop_right"
      args="load image_proc/crop_decimate camera_nodelet_manager">
      <remap from="camera" to="right"/>
      <remap from="camera_out" to="right_out"/>
      <param name="decimation_x" type="int" value="2" />
      <param name="decimation_y" type="int" value="2" />
  </node>

  <node pkg="nodelet" type="nodelet" name="image_proc_debayer_left"
    args="load image_proc/debayer camera_nodelet_manager">
    <remap from="camera_info" to="left_out/camera_info" />
    <remap from="image_color" to="left_out/image_color" />
    <remap from="image_mono" to="left_out/image_mono" />
    <remap from="image_raw" to="left_out/image_raw" />
  </node>
  <node pkg="nodelet" type="nodelet" name="image_proc_rect_left"
    args="load image_proc/rectify camera_nodelet_manager">
    <remap from="camera_info" to="left_out/camera_info" />
    <remap from="image_mono" to="left_out/image_mono" />
    <remap from="image_rect" to="left_out/image_rect" />
  </node>
  <node pkg="nodelet" type="nodelet" name="image_proc_rect_color_left"
    args="load image_proc/rectify camera_nodelet_manager">
    <remap from="camera_info" to="left_out/camera_info" />
    <remap from="image_mono" to="left_out/image_color" />
    <remap from="image_rect" to="left_out/image_rect_color" />
  </node>
  <node pkg="nodelet" type="nodelet" name="image_proc_debayer_right"
    args="load image_proc/debayer camera_nodelet_manager">
    <remap from="camera_info" to="right_out/camera_info" />
    <remap from="image_color" to="right_out/image_color" />
    <remap from="image_mono" to="right_out/image_mono" />
    <remap from="image_raw" to="right_out/image_raw" />
  </node>
  <node pkg="nodelet" type="nodelet" name="image_proc_rect_right"
    args="load image_proc/rectify camera_nodelet_manager">
    <remap from="camera_info" to="right_out/camera_info" />
    <remap from="image_mono" to="right_out/image_mono" />
    <remap from="image_rect" to="right_out/image_rect" />
  </node>
  <node pkg="nodelet" type="nodelet" name="image_proc_rect_color_right"
    args="load image_proc/rectify camera_nodelet_manager">
    <remap from="camera_info" to="right_out/camera_info" />
    <remap from="image_mono" to="right_out/image_color" />
    <remap from="image_rect" to="right_out/image_rect_color" />
  </node>

  <node pkg="nodelet" type="nodelet" name="disparity"
    args="load stereo_image_proc/disparity camera_nodelet_manager">
    <remap from="left/image_rect" to="left_out/image_rect"/>
    <remap from="right/image_rect" to="right_out/image_rect"/>
    <remap from="left/camera_info" to="left_out/camera_info"/>
    <remap from="right/camera_info" to="right_out/camera_info"/>
    <param name="prefilter_size" value="9"/>
    <param name="prefilter_cap" value="20"/>
    <param name="correlation_window_size" value="15"/>
    <param name="min_disparity" value="1"/>
    <param name="disparity_range" value="96"/>
    <param name="uniqueness_ratio" value="25"/>
    <param name="texture_threshold" value="100"/>
    <param name="speckle_size" value="100"/>
    <param name="speckle_range" value="5"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="disp_to_points2"
    args="load stereo_image_proc/point_cloud2 camera_nodelet_manager">
    <remap from="left/image_rect_color" to="left_out/image_rect_color"/>
    <remap from="left/camera_info" to="left_out/camera_info"/>
    <remap from="right/camera_info" to="right_out/camera_info"/>
  </node>

  <node pkg="nodelet" type="nodelet" name="disp_to_points"
    args="load stereo_image_proc/point_cloud camera_nodelet_manager">
    <remap from="left/image_rect_color" to="left_out/image_rect_color"/>
    <remap from="left/camera_info" to="left_out/camera_info"/>
    <remap from="right/camera_info" to="right_out/camera_info"/>
  </node>

  </group>
      
</launch>
