<launch>

  <param name="/use_sim_time" value="false"/>

  <include file="$(find automow_bringup)/launch/transforms.xml" />
  <include file="$(find automow_bringup)/launch/app_manager.xml" />

  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
      <rosparam command="load" file="$(find automow_bringup)/config/diagnostics.yaml" />
  </node>

  <node pkg="ax2550" type="ax2550_node" name="ax2550_node" output="screen" />

  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node">
      <param name="port" type="str" value="/dev/laser" />
      <param name="frame_id" type="str" value="/laser" />
      <param name="min_ang" value="-2.3562" />
      <param name="max_ang" value="2.3562" />
  </node>

  <node pkg="microstrain_3dmgx2_imu" type="imu_node"
      name="ahrs">
      <param name="time_offset" value="0"/>
      <param name="port" value="/dev/ahrs" />
      <param name="autostart" value="true" />
      <param name="frame_id" value="ahrs" />
      <param name="autocalibrate" value="false" />
      <param name="angular_velocity_stdev" type="double" value="0.00017" />
  </node>

  <node pkg="rosserial_python" type="serial_node.py" name="automow_pcb">
      <param name="port" value="/dev/power_control"/>
  </node>

  <node pkg="automow_node" type="diagnostics.py" name="automow_diag"/>

  <!-- Nodelet Manager -->
  <node pkg="nodelet" type="nodelet" name="openni_manager" output="screen" respawn="true" args="manager"/>

  <!-- Openni Nodelet -->
  <node pkg="nodelet" type="nodelet" name="openni_camera" args="load openni_camera/OpenNINodelet openni_manager" respawn="true">
    <param name="rgb_frame_id" value="/openni_rgb_optical_frame" />
    <param name="depth_frame_id" value="/openni_depth_optical_frame" />
    <param name="depth_registration" value="true" />
    <param name="image_mode" value="8" />
    <param name="depth_mode" value="8" />
    <param name="debayering" value="2" />
    <param name="depth_time_offset" value="0" />
    <param name="image_time_offset" value="0" />

    <rosparam command="load" file="$(find openni_camera)/info/openni_params.yaml" />
  </node>

</launch>
