<launch>

  <param name="/use_sim_time" value="false"/>

  <arg name="urdf_file" 
      default="$(find xacro)/xacro.py '$(find automow_description)/urdf/automow.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <param name="robot/name" value="$(optenv ROBOT automow)"/>
  <param name="robot/type" value="automow"/>

  <include file="$(find automow_bringup)/launch/app_manager.launch" />

  <node pkg="robot_state_publisher" type="state_publisher" 
      name="robot_state_publisher" output="screen">
      <param name="publish_frequency" type="double" value="30.0" />
      <!--param name="tf_prefix" type="string" value="" /-->
  </node>

  <node pkg="diagnostic_aggregator" type="aggregator_node" 
      name="diagnostic_aggregator" >
      <rosparam command="load" 
          file="$(find automow_bringup)/config/diagnostics.yaml" />
  </node>

  <node name="hokuyo" pkg="hokuyo_node" type="hokuyo_node">
      <param name="port" type="str" value="/dev/laser" />
      <param name="frame_id" type="str" value="/laser" />
      <param name="min_ang" value="-2.3562" />
      <param name="max_ang" value="2.3562" />
  </node>

  <node pkg="microstrain_3dm_gx3" type="imu_node"
      name="ahrs">
      <param name="time_offset" value="0"/>
      <param name="port" value="/dev/ahrs" />
      <param name="autostart" value="true" />
      <param name="frame_id" value="ahrs" />
      <param name="autocalibrate" value="false" />
      <param name="angular_velocity_stdev" type="double" value="0.00017" />
  </node>

</launch>
